.advantages {
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;

    &__icons {
        width: 920px;
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        color: #0d0d0d;
        font-size: 17px;
        font-weight: 700;
        span {
            display: block;
            margin-top: 27px;
            font-size: 14px;
            font-weight: 300;
            a {
                color: #ff0000;
                text-decoration: underline;
                text-transform: uppercase;
                }
            }
    }
    &__icon {
        width: 250px;
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 38px;
            }
    }
   
}
   
