.feed {
    min-height: 950px;
    padding-bottom: 71px;
&__item {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        img {
           display: block;
            width: 169px;
            height: 169px;
        }
    }

&__text {
    margin-left: 62px;
    width: 650px;
}
&__subtitle {
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 700;
}
&__count {
    margin-top: 10px;
    color: #646464;
    font-size: 14px;
    font-weight: 300;
}
&__descr {
    margin-top: 19px;
    color: #0d0d0d;
    font-size: 16px;
    font-weight: 300;
}
}

